.bigFont {
    font-size: 5em;
}

.centerText {
    text-align: center;
}

.pointer {    
    cursor: pointer;
}

.history{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

li.die {
    margin: 5px;
    cursor: pointer;
    font-size: 1.5em;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none;
     
}

li.die:hover{
    background-color:lightskyblue
}

.masterContainer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr  2fr  1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

.comp {
    border: 1px solid #e0e0e0;
    background-color: white;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: #f5f7fa;
}

.pad20 {
    padding: 20px
}

.selectedDie {    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;    
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    padding: 10px;
}

.rolledDice {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.pad5 {
    padding: 5px
}

.buttons {    
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
} 

.bold {
    font-weight: bold;
}